@tailwind base;
@tailwind components;
@tailwind utilities;

.listfont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 40px;
    align-items: center;
    color: #4b6584;
}

.listfont>p {
    padding: 10px;
    margin-bottom: 10px;
}
section.hero{
    @apply grid;
    grid-template-columns: .7fr .7fr;
}